.login-container {
	background-color: aqua;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.username {
	padding-left: 3px;
	border-radius: 5px;
	margin: 5px;
	border: transparent;
}

.password {
	padding-left: 3px;
	border-radius: 5px;
	margin: 5px;
	border: transparent;
}

.login-button {
	border-radius: 5px;
	margin: 5px;
	border: transparent;
	background-color: white;
	cursor: pointer;
}

.signup {
	margin-left: 5px;
	cursor: pointer;
}
