.date-input-date-select-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	cursor: pointer;
}

.date-input-container {
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid rgb(47, 50, 53);
	border-radius: 5px;
}

.date-input-date-select {
	color: rgb(113, 118, 123);
	padding-top: 6px;
	padding-left: 6px;
	font-size: 14px;
	width: 80%;
	height: 30%;
	margin-bottom: 10px;
	padding-left: 10px;
}

.date-input-selection {
	padding-left: 10px;
	font-size: 17px;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.date-input-v {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 10%;
	color: rgb(113, 118, 123);
	transform: scale(1.5, 0.6);
}

/* .date-select-modal {
	background-color: red;
	display: flex;
} */
