.signup-form-div {
	display: flex;
	width: 73%;
}

.signup-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 53px;
	width: 100%;
	padding-left: 20px;
	margin-bottom: 20px;
}

.signup-close-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
}

.signup-close-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.signup-close {
	color: white;
	font-size: 18px;
	font-weight: 100;
}

.step-count-span {
	font-size: 20px;
	font-weight: 600;
}

.signup-sign-in-span {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.signup-form-div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 75%;
}

.signup-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.signup-username {
	background-color: transparent;
	border: 1px solid rgb(47, 51, 54);
	color: white;
	height: 55px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
}

.signup-password {
	background-color: black;
	color: white;
	border: 1px solid rgb(47, 51, 54);
	height: 55px;
	margin-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
}

.use-phone {
	display: flex;
	align-self: flex-end;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 30px;
}

.use-phone-link {
	text-decoration: none;
	color: rgb(29, 155, 240);
}

.DOB {
	width: 70%;
	margin-bottom: 10px;
}

.DOB-p {
	word-wrap: break-word;
	word-break: break-all;
	text-overflow: unset;
	color: rgb(113, 118, 123);
	margin-bottom: 20px;
}

.date-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60px;
	margin-bottom: 40px;
}

.date-subcontainer-1 {
	width: 45%;
}

.date-subcontainer-2 {
	margin-left: 10px;
	width: 20%;
}

.date-subcontainer-3 {
	margin-left: 10px;
	width: 30%;
}

.signup-next-button {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background-color: Grey;
	font-size: 17px;
	font-weight: 700;
	border: transparent;
	cursor: pointer;
}
